<div id="hero">
  <div class="w">
    <h1>An affordable one-stream conference for juniors on skills needed for a happy, healthy work life.</h1>
  </div>
  <div class="w highlights">
    <a class="huge-cta cta" href="/highlights">View the highlights</a>
  </div>
  <img src="/assets/img/logo-lockup.svg" alt="You Got This Full Logo">
</div>

<style>
  #hero {
    border-bottom: 2px solid black;
    background: url('/assets/img/waves.png');
    padding-top: 2em;
    margin-top: -2em;
  }
  #hero .w {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #hero .huge-cta {
    margin-top: 1em;
    display: inline-block;
    padding: 0.25em 0.75em;
    background:var(--dark);
    color: white;
    border: 2px solid var(--darker);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;
  }
  #hero h1 {
    font-size: 2em;
    text-align: center;
  }
  #hero img {
    height: 500px;
    margin: 0 auto;
    display: block;
    margin-top: 2em;
  }
  @media screen and (max-width: 800px) {
    #hero h1 {
      font-size: 1.25em;
    }
    #hero img {
      height: auto;
      width: 60%;
    }
  }
</style>