<div id="hero">
  <h1 class="w">An affordable one-stream conference for juniors on skills needed for a happy, healthy work life.</h1>
  <img src="/assets/img/logo-lockup.svg" alt="You Got This Full Logo">
</div>

<style>
  #hero {
    border-bottom: 2px solid black;
  }
  #hero h1 {
    font-size: 2em;
    text-align: center;
  }
  #hero img {
    height: 500px;
    margin: 0 auto;
    display: block;
    margin-top: 2em;
  }
  @media screen and (max-width: 800px) {
    #hero h1 {
      font-size: 1.25em;
    }
    #hero img {
      height: auto;
      width: 60%;
    }
  }
</style>