<div id="sponsors" class="w">
  <div class="tier gold">
    <h2>Gold sponsor</h2>
    <div class="list">
      <div class="clear"></div>
      <div class="logo"><img src="/assets/img/sponsors/hired.png"></div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="tier silver">
    <h2>Silver sponsors</h2>
    <div class="list">
      <div class="logo"><img src="/assets/img/sponsors/github.png"></div>
      <div class="logo"><img src="/assets/img/sponsors/twilio.png"></div>
      <div class="logo"><img src="/assets/img/sponsors/wildrocket.png"></div>
      <div class="logo"><img src="/assets/img/sponsors/and-digital.png"></div>
      <div class="logo mlab"><img src="/assets/img/sponsors/mongodb.png"></div>
      <div class="logo"><img src="/assets/img/sponsors/verve.png"></div>
    </div>
  </div>
  <div class="tier bronze">
    <h2>Bronze sponsors</h2>
    <div class="list">
      <div class="logo"><img src="/assets/img/sponsors/buzzfeed.png"></div>
      <div class="logo"><img src="/assets/img/sponsors/not-binary.png"></div>
      <div class="logo"><img src="/assets/img/sponsors/indee.png"></div>
      <div class="logo"><img src="/assets/img/sponsors/proactive.png"></div>
      <div class="logo"><img src="/assets/img/sponsors/futuregov.png"></div>
      <div class="logo"><img src="/assets/img/sponsors/dxw.png"></div>
      <div class="logo"><img src="/assets/img/sponsors/samsung-internet.png"></div>
      <div class="logo"><img src="/assets/img/sponsors/mlh.png"></div>
      <div class="logo"><img src="/assets/img/sponsors/balsamiq.png"></div>
      <div class="logo"><img src="/assets/img/sponsors/nedap.png"></div>
    </div>
  </div>
</div>

<style>
  #sponsors {
    margin-top: 2em;
    margin-bottom: 4em;
    padding: 0 2rem;
  }
  #sponsors h2 {
    text-align: center;
    font-size: 1.25em;
  }
  #sponsors .tier {
    margin-bottom: 2em;
  }
  #sponsors .gold .list {
    grid-template-columns: 1fr 2fr 1fr;
  }
  #sponsors .silver .list {
    grid-template-columns: repeat(3, 1fr);
  }
  #sponsors .bronze .list {
    grid-template-columns: repeat(5, 1fr);
  }
  #sponsors .list {
    margin: 1em auto 0;
    display: grid;
    grid-gap: 1em;
  }
  #sponsors img {
    width: 100%;
    display: block;
  }
  @media screen and (max-width: 800px) {
    #sponsors {
      padding: 0 1rem;
    }
    #sponsors .list {
      grid-template-columns: 1fr 1fr !important;
    }
    #sponsors .gold .list {
      grid-template-columns: 1fr !important;
      grid-gap: 0 !important;
    }
  }
</style>