<div id="sponsors" class="w">
  <h2>Thank you to our sponsors</h2>
  <div class="logos">
    <div class="logo"><img src="/assets/img/sponsors/wildrocket.png"></div>
    <div class="logo"><img src="/assets/img/sponsors/and-digital.png"></div>
    <div class="logo"><img src="/assets/img/sponsors/mlh.png"></div>
    <div class="logo"><img src="/assets/img/sponsors/balsamiq.png"></div>
  </div>
</div>

<style>
  #sponsors {
    margin-bottom: 2em;
  }
  #sponsors h2 {
    text-align: center;
    font-size: 1.25em;
  }
  #sponsors .logos {
    margin: 1em auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
  }
  #sponsors img {
    width: 100%;
    display: block;
  }
  @media screen and (max-width: 800px) {
    #sponsors .logos {
      width: 100%;
    }
  }
</style>