@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700');

:root {
  --light: #F5515F;
  --dark: #9F031B;
  --darker: #640C0F;
  --sky: #D8ECEB;
  --green: #26A47A;
  --green-d: #1d664e;
  --text: #3A4B57;
  --white: #ccc;
  --elevate: 0 10px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--text);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body > .main {
  flex: 1;
}

.w {
  max-width: 960px;
  margin: 0 auto;
  display: block;
  padding: 0 1rem;
}

h1.title {
  font-size: 2em;
}

.content {
  margin-bottom: 4em;
}

.content * {
  margin-bottom: 1rem;
  line-height: 1.5em;
}

.content h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--dark);
}

.content li {
  margin-left: 2em;
}

a.redirect {
  text-align: center;
  line-height: 1.5;
  display: block;
  padding: 0 1em;
}