<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{site.title}} - {{page.title}}</title>
  <link rel="stylesheet" href="/assets/style/style.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">
  <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta property="og:image" content="https://yougotthis.io/assets/img/og.png" />
  <meta name="description" content="{{site.description}}" />
  <script src='https://js.tito.io/v1' async></script>
</head>
<body>
  <div class="main">
    {% include header.html %}
    {{content}}
  </div>
  {% include footer.html %}
</body>
</html>