---
layout: default
---

<div class="content w hl">
  <h1 class="title">Highlights</h1>
  <div class="intro">
    <p>You Got This 2019 took part on January 19th 2019 at the Monzo office in London. We had 195 people turn up - a mix of junior developers and those looking to how they can better support their team members. Thanks to sponsors and those who paid over the recommended ticket price - we were able to offer 97 scholarships to You Got This, including 8 which included travel, accommodation, childcare and a stipend to make participation cost-neutral. <a href="https://medium.com/underland/you-got-this-2019-retrospective-6dfadcad6ade">Our event retrospective is here</a>.</p>
    <img src="/assets/img/sponsors.png" alt="Array of sponsor logos">
  </div>
  <div class="speakers">
    <h1>Our wonderful speakers</h1>
    <p>Each speaker page has more information about the talk, a video, sketchnote, some pictures, and a transcript.</p>
    <div class="speaker-list">
      <a class="speaker" href="/jo">
        <div class="img">
          <img src="/assets/img/speakers/jo.jpg" alt="Picture of Jo">
        </div>
        <div class="meta">
          <h2>Jo Franchetti</h2>
          <h3>Perfectionism, Impostor Syndrome and Anxiety</h3>
        </div>
      </a>
      <a class="speaker" href="/sascha">
        <div class="img">
          <img src="/assets/img/speakers/sascha.png" alt="Picture of Sascha">
        </div>
        <div class="meta">
          <h2>Sascha Wolf</h2>
          <h3>You know nothing... or do you?</h3>
        </div>
      </a>
      <a class="speaker" href="/paula">
        <div class="img">
          <img src="/assets/img/speakers/paula.jpg" alt="Picture of Paula">
        </div>
        <div class="meta">
          <h2>Paula Muldoon</h2>
          <h3>Where did all my money go?</h3>
        </div>
      </a>
      <a class="speaker" href="/tara">
        <div class="img">
          <img src="/assets/img/speakers/tara.jpg" alt="Picture of Tara">
        </div>
        <div class="meta">
          <h2>Tara Ojo</h2>
          <h3>Junior.next()</h3>
        </div>
      </a>
      <a class="speaker" href="/taylor">
        <div class="img">
          <img src="/assets/img/speakers/taylor.png" alt="Picture of Taylor">
        </div>
        <div class="meta">
          <h2>Taylor Morrison</h2>
          <h3>Self-care: Beyond the hashtags</h3>
        </div>
      </a>
      <a class="speaker" href="/sam-w">
        <div class="img">
          <img src="/assets/img/speakers/samw.jpg" alt="Picture of Sam Warner">
        </div>
        <div class="meta">
          <h2>Sam Warner</h2>
          <h3>Morality and Ethics - Caring is Everything</h3>
        </div>
      </a>
      <a class="speaker" href="/violet">
        <div class="img">
          <img src="/assets/img/speakers/violet.jpeg" alt="Picture of Violet">
        </div>
        <div class="meta">
          <h2>Violet Peña</h2>
          <h3>Understanding and Cultivating Independence</h3>
        </div>
      </a>
      <a class="speaker" href="/sam-m">
        <div class="img">
          <img src="/assets/img/speakers/sam.jpg" alt="Picture of Sam Morgan">
        </div>
        <div class="meta">
          <h2>Sam Morgan</h2>
          <h3>The transformative power of junior developers</h3>
        </div>
      </a>
    </div>
  </div>
  <div class="photos">
    <h1>Photos</h1>
    <p>Find all of the photos taken by our photographer - Paul Clarke - on our <a href="https://www.facebook.com/underlandxyz/photos/?tab=album&album_id=2265426620148185">Facebook page</a>. They are Creative Commons licensed (CC-BY-SA). Some of our highlights are below:</p>
    <div class="pics">
      <img src="/assets/img/highlights/1.jpg">
      <img src="/assets/img/highlights/2.jpg">
      <img src="/assets/img/highlights/3.jpg">
      <img src="/assets/img/highlights/4.jpg">
      <img src="/assets/img/highlights/5.jpg">
      <img src="/assets/img/highlights/6.jpg">
      <img src="/assets/img/highlights/7.jpg">
      <img src="/assets/img/highlights/8.jpg">
      <img src="/assets/img/highlights/9.jpg">
    </div>
  </div>
  <div class="people-said">
    <h2>Nice things people said</h2>
    <div class="list">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I went to <a href="https://twitter.com/hashtag/YouGotThisConf?src=hash&amp;ref_src=twsrc%5Etfw">#YouGotThisConf</a> today and genuinely had such an amazing time. Met some lovely people, sat in on talks on subjects I resonated with such as anxiety, imposter syndrome and self-care</p>&mdash; Myles Adamson (@adamson_myles) <a href="https://twitter.com/adamson_myles/status/1086701099137011712?ref_src=twsrc%5Etfw">January 19, 2019</a></blockquote>
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/YouGotThisConf?src=hash&amp;ref_src=twsrc%5Etfw">#YouGotThisConf</a> was a phenomenally inspiring experience! Best technology event I&#39;ve been to, hands down. Big thanks to everyone at <a href="https://twitter.com/underlandxyz?ref_src=twsrc%5Etfw">@underlandxyz</a> for organising, can&#39;t wait for next year!</p>&mdash; Chris McIntyre (@cgmcintyr) <a href="https://twitter.com/cgmcintyr/status/1086721634353012738?ref_src=twsrc%5Etfw">January 19, 2019</a></blockquote>
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Fantastic conference. Relevant, entertaining, comfortable, safe! Setting a standard!  <a href="https://twitter.com/underlandxyz?ref_src=twsrc%5Etfw">@underlandxyz</a> <a href="https://twitter.com/hashtag/YouGotThisConf?src=hash&amp;ref_src=twsrc%5Etfw">#YouGotThisConf</a></p>&mdash; Ute Bracklow (@UteBracklow) <a href="https://twitter.com/UteBracklow/status/1086676690040967168?ref_src=twsrc%5Etfw">January 19, 2019</a></blockquote>
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I had a fantastic time at <a href="https://twitter.com/hashtag/YouGotThisConf?src=hash&amp;ref_src=twsrc%5Etfw">#YouGotThisConf</a> today. Thank you for organising this wonderful event, <a href="https://twitter.com/underlandxyz?ref_src=twsrc%5Etfw">@underlandxyz</a>. I wish it spreads to more parts of the world. We need to have these difficult and awkward but rewarding conversations in the tech industry. 💖</p>&mdash; ✨Shubheksha✨ (@ScribblingOn) <a href="https://twitter.com/ScribblingOn/status/1086730786282393600?ref_src=twsrc%5Etfw">January 19, 2019</a></blockquote>
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">It was a pleasure to be part of the <a href="https://twitter.com/hashtag/YouGotThisConf?src=hash&amp;ref_src=twsrc%5Etfw">#YouGotThisConf</a> at the weekend. Someone said it was the &#39;single most positive atmosphere at a tech conference I&#39;ve been to&#39;. This is amazing feedback and we hope the event will help early career <a href="https://twitter.com/hashtag/developers?src=hash&amp;ref_src=twsrc%5Etfw">#developers</a> achieve a happy, healthy work life. <a href="https://t.co/nY0K2tDfux">pic.twitter.com/nY0K2tDfux</a></p>&mdash; AND Digital (@AND_Digital) <a href="https://twitter.com/AND_Digital/status/1087315386985525248?ref_src=twsrc%5Etfw">January 21, 2019</a></blockquote>
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I had intended to leave the <a href="https://twitter.com/hashtag/YouGotThisConf?src=hash&amp;ref_src=twsrc%5Etfw">#YouGotThisConf</a> earlier in the afternoon to go work on my stem cells but the conference was SO GOOD I ended up staying all day! Thanks <a href="https://twitter.com/underlandxyz?ref_src=twsrc%5Etfw">@underlandxyz</a> for the great kickstart to 2019. Feeling motivated and inspired (eventho I&#39;m not a programmer) 😋🥰🌠 <a href="https://t.co/jZm3Yi63ww">pic.twitter.com/jZm3Yi63ww</a></p>&mdash; 🎆🌈Rachel Konichiwakitty🌟🎉 (@konichiwakitty) <a href="https://twitter.com/konichiwakitty/status/1086698393559318530?ref_src=twsrc%5Etfw">January 19, 2019</a></blockquote>
    </div>
    <div class="articles">
      <ul>
        <li><a href="http://onewanderingmuse.com/2019/01/25/impostor-syndrome-vs-putting-your-damn-self-out-there/">Michelle Robins: Impostor Syndrome vs. Putting Your Damn Self Out There</a></li>
        <li><a href="https://alexwlchan.net/2019/01/notes-from-you-got-this/">Alex Chan: Notes from You Got This 2019</a></li>
        <li><a href="https://medium.com/@adewusi/understanding-perfectionism-2efdef0fad9b">Amina Adewusi: Understanding perfectionism
        </a></li>
        <li><a href="https://drawnalism.com/2019/01/25/a-developer-for-life/">Matthew Buck: A developer for life
        </a></li>
      </ul>
    </div>
  </div>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>        
