---
layout: default
---

{% include hero.html %}

<div id="intro" class="w">
  <p>You Got This will cover topics across three themes - learning, living and levelling-up. This isn’t your typical tech conference - we're not talking about your technical skills, but everything else needed for a happy, healthy work life.</p>
  <p>You Got This is an annual, 150+ person conference for junior developers, designers, and their teams to learn how to better support their co-workers. </p>
  <p>Early bird tickets go on sale at 6pm on Monday 8 October and will cost £50.</p>
</div>
<link rel="stylesheet" type="text/css" href='https://css.tito.io/v1.1' />
<tito-widget event="underland/you-got-this-2019"></tito-widget>

{% include sponsors.html %}

<style>
#intro {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}
#intro p {
  font-weight: normal;
  font-size: 1.25em;
  margin-bottom: 1em;
}
@media screen and (max-width: 800px) {
  #intro p {
    font-size: 1em;
  }
}
</style>