---
layout: default
---

{% include hero.html %}

<div id="intro" class="w">
  <h2>You Got This will cover topics across three themes - learning, living and levelling-up. This isn’t your typical tech conference - we're not talking about your technical skills, but everything else needed for a happy, healthy work life.</h2>
  <p>You Got This is an annual, 150+ person conference for junior developers, designers, and their teams to learn how to better support their co-workers. </p>
  <h2 id="tix" class='w'>Early bird tickets go on sale at 6pm on Monday 8 October and will cost £50.</h2>

</div>
<link rel="stylesheet" type="text/css" href='https://css.tito.io/v1.1' />
<tito-widget event="underland/you-got-this-2019"></tito-widget>

{% include sponsors.html %}

<style>
#intro {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}
#intro h2 {
  font-weight: normal;
  font-size: 1.25em;
  margin-bottom: 1em;
}
#intro h2#tix {
  margin-top: 1em;
}
@media screen and (max-width: 800px) {
  #intro h2 {
    font-size: 1em;
  }
}
</style>