---
layout: default
---

{% include hero.html %}

<div id="intro" class="w">
  <h2>You Got This will cover topics across three themes - learning, living and levelling-up. This isn’t your typical tech conference - we're not talking about your technical skills, but everything else needed for a happy, healthy work life.</h2>
  <p>You Got This is an annual, 150+ person conference for junior developers, designers, and their teams to learn how to better support their co-workers. Submit your talk by September 9 2018, and tickets will be available soon after.</p>
</div>

{% include sponsors.html %}

<style>
#intro {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}
#intro h2 {
  font-weight: normal;
  font-size: 1.25em;
  margin-bottom: 1em;
}
@media screen and (max-width: 800px) {
  #intro h2 {
    font-size: 1em;
  }
}
</style>